:host{
    display: flex;
    overflow-x: auto;
}
.container {
    background-color:#fff;
    padding: 5px 0;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: grid;
    place-content: stretch;
    place-items: center;
    grid-gap: 1rem;
    grid-auto-flow: row;
}
/* .underline {
    width: 20%;
    height: 2px;
    background-color: #f5f5f5;
    margin:0 auto;
}
.underline > .highlight {
    width: 50%;
    height: 2px;
    background-color: #e02f29;
    padding: 0;
} */