<div *ngIf="selectedTabLink === 'hot' else other ">
                <app-image-slider [sliders]="imageSliders"></app-image-slider>
                <app-horizontal-grid>
                        <span appGridItem *ngFor="let item of channels">
                                <img [src]="item.icon" alt="" [appGridItemImage]="'2rem'"/>
                                <span appGridItemTitle="1rem" class="title"> {{ item.title }}</span>
                        </span> 
                </app-horizontal-grid>
                
</div>
<ng-template #other>
        other works
</ng-template>
<a [routerLink]="[ 'grand' ]" routerLinkActive="active">link to grand</a>
<router-outlet></router-outlet>
